<div class="container">
    <div class="row">
        <div class="col-4">
            <table class="table table-sm table-hover">
                <tbody>
                    <tr>
                        <td>Movie 1</td>
                    </tr>
                    <tr>
                        <td>Movie 2</td>
                    </tr>
                    <tr>
                        <td>Movie 3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            Details
        </div>
    </div>
</div>