@import "../../../variables.scss";

tr {
    cursor: pointer;

    :hover {
        background-color: $hover-color;
    }

    &.selected {
        background-color: $selected-color;
        color: white;

        &:hover {
            background-color: $hover-selected-color;
            color: white;
        }
    }
}

.container {
    max-width: 100%;
    margin-top: 80px;
}

@media all and (max-width: 480px) {
    .container {
        margin-top: 120px;
    }
}