<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2>404 Not Found</h2>
                Sorry, requested page not found!
                <div class="error-actions">
                    <a href="" class="btn btn-primary btn-lg">
                        <fa-icon [icon]="faHome"></fa-icon>
                        Take Me Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>